<div class="container">
    <br>
    <h1>Pipes</h1>
    <hr>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Variable sin modificación</th>
                <th scope="col">Pipe utilizado</th>
                <th scope="col">Resultado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{nombre}}</td>
                <td>uppercase</td>
                <td>{{nombre | uppercase}}</td>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>lowercase</td>
                <td>{{nombre | lowercase}}</td>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>slice:3</td>
                <!--El pipe slice debe tener, al menos, un parámetro. Lo que hace es eliminar las primeras n posiciones del nombre-->
                <td>{{nombre | slice:3}}</td>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>slice:0:3</td>
                <!--Cuando se ponen dos parámetros, lo que hace es cortar desde el primero hasta el segundo y desprecia el resto-->
                <td>{{nombre | slice:0:3}}</td>
            </tr>
            <tr>
                <td>{{numerosArray}}</td>
                <td>slice:1:5</td>
                <!--Lo que hace es ir a partir de la posición 1 (cuental a posición cero al tratarse de un array) y ya va hasta la posición 5-->
                <td>{{nombre | slice:1:5}}</td>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>lowercase</td>
                <td>{{nombre | lowercase}}</td>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>lowercase</td>
                <td>{{nombre | lowercase}}</td>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>lowercase</td>
                <td>{{nombre | lowercase}}</td>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>lowercase</td>
                <td>{{nombre | lowercase}}</td>
            </tr>
        </tbody>
    </table>

    <h4>Slice</h4>
    <!--También hay una forma de trabajar con el slice combinándolo con el *ngFor. De primeras, el *ngFor recorre el array que se le está pasando. Pero en él se puede añadir un pipe del tipo slice que saque solo lo que nos interesa realmente.-->
    <ul></ul>
    <li *ngFor="let numero of numerosArray | slice:2:30">{{numero}}</li>
    <!--FALTA COMENTARIO-->

</div>